* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none !important;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Cabin', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

ul {
	padding: 0;
	list-style-type: none;
}

.banner {
	width: 100%;
	height: 100vh;
	background-image: url('../images/app/banner.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.app-basic-info {
	position: relative;	
}

.main-info {
	position: relative;
	top: 20%;
	left: 50%;
	width: 320px;
	-webkit-transform: translate(-50%, -20%);
	-ms-transform: translate(-50%, -20%);
	transform: translate(-50%, -20%);
	color: #fff;
}
.btn-app {
	padding: 0.75rem 2.25rem;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.btn-install {
	border: 1px solid #fff;
	color: #fff;
	font-weight: bold;
	background-color: transparent;
}
.btn-install:hover {
	color: #000;
	background-color: #fff;
	padding: 0.75rem 3.25rem;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.btn-download-now {
	width: 200px;
	display: inline-block;
	color: #22195e;
	letter-spacing: 1px;
	font-family: roboto,sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 47px;
	outline: none!important;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	border: double 2px transparent;
	border-radius: 5px;
	background-image: -webkit-gradient(linear,left top, left bottom,from(white),to(white)),-webkit-radial-gradient(top left,circle,#8252fa,#eca2f1);
	background-image: -webkit-gradient(linear,left top, left bottom,from(white),to(white)),-o-radial-gradient(top left,circle,#8252fa,#eca2f1);
	background-image: -webkit-gradient(linear,left top, left bottom,from(white),to(white)),radial-gradient(circle at top left,#8252fa,#eca2f1);
	background-image: -webkit-linear-gradient(white,white),-webkit-radial-gradient(top left,circle,#8252fa,#eca2f1);
	background-image: -o-linear-gradient(white,white),-o-radial-gradient(top left,circle,#8252fa,#eca2f1);
	background-image: linear-gradient(white,white),radial-gradient(circle at top left,#8252fa,#eca2f1);
	background-origin: border-box;
  background-clip: content-box,border-box;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-download-now:hover {
	background-image: -webkit-gradient(linear,left top, right top,from(#8252fa),to(#eca2f1)),-webkit-radial-gradient(top left,circle,#8252fa,#eca2f1);
	background-image: -webkit-gradient(linear,left top, right top,from(#8252fa),to(#eca2f1)),-o-radial-gradient(top left,circle,#8252fa,#eca2f1);
	background-image: -webkit-gradient(linear,left top, right top,from(#8252fa),to(#eca2f1)),radial-gradient(circle at top left,#8252fa,#eca2f1);
	background-image: -webkit-linear-gradient(left,#8252fa 0%,#eca2f1 100%),-webkit-radial-gradient(top left,circle,#8252fa,#eca2f1);
	background-image: -o-linear-gradient(left,#8252fa 0%,#eca2f1 100%),-o-radial-gradient(top left,circle,#8252fa,#eca2f1);
	background-image: linear-gradient(to right,#8252fa 0%,#eca2f1 100%),radial-gradient(circle at top left,#8252fa,#eca2f1);
	background-image: -webkit-linear-gradient(to right,#8252fa 0%,#eca2f1 100%),-webkit-radial-gradient(circle at top left,#8252fa,#eca2f1);
	background-image: -o-linear-gradient(to right,#8252fa 0%,#eca2f1 100%),-o-radial-gradient(circle at top left,#8252fa,#eca2f1);
	color: #fff;
	-webkit-box-shadow: 0 10px 30px rgba(130,82,250,.2);
	box-shadow: 0 10px 30px rgba(130,82,250,.2);
	border: 2px solid transparent;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.info-feature {
	position: relative;
}

.border-line {
	position: absolute;
	height: 100%;
	border: 1px dashed #dbdade;
}

.shape1 {
	position: absolute;
	top: 35%;
	margin-left: -9px;
}
.shape2 {
	position: absolute;
	top: 42%;
	margin-left: -38px;
}
.shape3 {
	position: absolute;
	top: 60%;
	margin-left: -9px;
}

.info-feature .feature-name {
	position: relative;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.info-feature .feature-name::after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 80px;
	content: "";
	background: -webkit-gradient(linear,left top, right top,from(#8252fa),to(#eca2f1));
	background: -webkit-linear-gradient(left,#8252fa 0%,#eca2f1 100%);
	background: -o-linear-gradient(left,#8252fa 0%,#eca2f1 100%);
	background: linear-gradient(90deg,#8252fa 0%,#eca2f1 100%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

.carousel-inner {
	min-height: 320px !important;
}
.img-screen {
	height: 280px !important;
}

.count-download {
	background-image: url('../images/app/bg-footer.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.count-download .container {
	height: 200px;
	padding: 290px 0 320px;
	color: #fff;
	font-size: 36px;
}

.footer {
	line-height: 2;
}

/* Pricing */

 .pricing .pricing-card .card-item {
	 padding-left: 15px;
	 padding-right: 15px;
	 padding-top: 40px;
	 font-size: 17px;
	 text-align: center;
}
 .pricing .pricing-card .card-item .card-content {
	 -webkit-transition: all 300ms;
	 -o-transition: all 300ms;
	 transition: all 300ms;
	 background-color: #fff;
}
 .pricing .pricing-card .card-item .card-content .type-price {
	 font-size: 36px;
	 font-weight: 300;
	 background-image: -webkit-gradient(linear, left top, right top, from(#fc466b), to(#0984e3));
	 background-image: -webkit-linear-gradient(left, #fc466b, #0984e3);
	 background-image: -o-linear-gradient(left, #fc466b, #0984e3);
	 background-image: linear-gradient(to right, #fc466b, #0984e3);
	 background-clip: text;
	 -webkit-background-clip: text;
	 color: rgba(9, 132, 227, 0.2);
}
 .pricing .pricing-card .card-item .card-content .type-des {
	 color: #7b7b7b;
}
 .pricing .pricing-card .card-item .card-content .price {
	 background-image: -webkit-gradient(linear, left top, right top, from(#fc466b), to(#0984e3));
	 background-image: -webkit-linear-gradient(left, #fc466b, #0984e3);
	 background-image: -o-linear-gradient(left, #fc466b, #0984e3);
	 background-image: linear-gradient(to right, #fc466b, #0984e3);
	 background-clip: text;
	 -webkit-background-clip: text;
	 color: rgba(9, 132, 227, 0.2);
	 font-size: 72px;
}
 .pricing .pricing-card .card-item .card-content .detail {
	 color: #7b7b7b;
}
 .pricing .pricing-card .card-item .card-content .btn-get-started, .pricing .pricing-card .card-item .card-content .btn-social, .pricing .pricing-card .card-item .card-content .send-message {
	 color: #fff;
	 background-color: #0984e3;
	 text-transform: uppercase;
	 padding: 10px;
	 margin: 20px auto;
	 width: 200px;
	 display: inline-block;
	 text-decoration: none;
	 border-radius: 40px;
	 -webkit-transition: all 300ms;
	 -o-transition: all 300ms;
	 transition: all 300ms;
}
 .pricing .pricing-card .card-item .card-content .btn-get-started:hover, .pricing .pricing-card .card-item .card-content .btn-social:hover, .pricing .pricing-card .card-item .card-content .send-message:hover {
	 -webkit-box-shadow: 3px 4px 20px 0 rgba(0, 0, 0, 0.15);
	 box-shadow: 3px 4px 20px 0 rgba(0, 0, 0, 0.15);
	 color: #0984e3;
	 background-color: #fff;
	 -webkit-transition: all 300ms;
	 -o-transition: all 300ms;
	 transition: all 300ms;
}
 .pricing .pricing-card .card-item .card-content:hover {
	 -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
	 box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
	 -webkit-transition: all 300ms;
	 -o-transition: all 300ms;
	 transition: all 300ms;
}
 .pricing .pricing-card #popular {
	 position: relative;
	 top: -20px;
}
 .pricing .pricing-card #popular .lable-popular {
	 display: inline-block;
	 margin: 10px 0px;
	 padding: 5px 20px;
	 width: 150px;
	 color: #fff;
	 background-color: #0984e3;
	 position: absolute;
	 top: -25px;
	 left: 50%;
	 -webkit-transform: translateX(-50%);
	 -ms-transform: translateX(-50%);
	 transform: translateX(-50%);
}
 .pricing .pricing-card #popular .type-price {
	 padding-top: 40px;
}
/* End Pricing */
 